@model CookooOrc.CkRtnRcp

@{
    
    if (ViewBag.WithLayot == null || !ViewBag.WithLayot) {
        Layout = null;
    }

    ViewBag.EditRcpActionName = "EditCkRecipe";
}

<div class="content_center content_max_width"><h1> @Model.RecipeName </h1></div>
<div class="separator"></div>


     <div >
        @{if (Model.PreparationTimeMin.HasValue) {

              var l_Preparation = TimeSpan.FromMinutes((double)Model.PreparationTimeMin.Value);
            @(ViewBag.ConstStrings.NewCKPreparationTime + ": " + l_Preparation)
          }}
    </div>
    <div>
        @{if (Model.DoesCount.HasValue) {
            @(ViewBag.ConstStrings.NewCKDoesCount + ": " + Model.DoesCount)
          }}
     </div>
     <div class="iconBackground" id="SearchResRecCKIcon"></div>
     <div class="cookooRegion"> 
        <div class="getRcpTextContent">@Model.Description</div>
    </div>

     <div class="content_center">
        @if (Model.CKRcpImage != null) {
            <img id="getCkRecImages" src="@Url.Action("GetPhoto", new { a_id = Model.CKRcpImage })" />
        }
     </div>
    
    <div class="cookooRegion"> 
      <div class="getRcpHedaer"><h3>@ViewBag.ConstStrings.GetCKRcpIngredients</h3></div>
      <div class="getRcpTextContent">@Model.Ingredients</div>
    </div>

    <div class="cookooRegion"> 
      <div class="getRcpHedaer"><h3>@ViewBag.ConstStrings.GetCKRcpInstructions</h3></div>
      <div class="getRcpTextContent">@Model.Instructions</div>
    </div>
   
   
   <div class="cookooRegion"> 
      <div class="getRcpHedaer"><h3>@ViewBag.ConstStrings.GetCKRcpCategries</h3></div>
      <div class="getRcpTextContent">
             @{ foreach (var item in @Model.Categories) {
                    @(item + " ")
                }
              }
       </div>
    </div>
  <div class="cookooRegion">
    <label>@ViewBag.ConstStrings.GetRecipeOwner</label>
     <label>@ViewBag.OwnerName</label>
  </div>
  
  <div class="content_center">

      @Html.Partial("_RecipeActions")

  </div>
  